* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: unset;
}

/* Header Styling */

#home-section-2,
#home-section-3 {
  margin: 100px 0;
}

header {
  z-index: 1000;
}
* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the input container */
.topnav .search-container {
  float: center;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 16px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
.navbar-brand {
  height: 8em;
  overflow: hidden;
}
.navbar-brand .navbar-heading2 {
  position: absolute;
  top: 1.9vmax;
  left: 8vmax;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 2.5em;
}
.navbar-brand .navbar-heading1 {
  position: absolute;
  top: 4.6vmax;
  left: 8.5vmax;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  font-size: 2.8em;
}

nav {
    box-sizing: border-box;
  display: flex;
  margin-left: 400px;
  width: 690px;
  align-items: center;
  border: 4px solid black;
  display: inline-block;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.navbar ul li {
  display: block;
  transition-duration: 0.5s;
  display: inline-block;
}

.navbar ul li:hover {
  cursor: pointer;
  background-color: #858585;
  
}

.navbar ul li:hover > a {
  color: #ff0000;
}

.navbar-menu li ul {
  visibility: show;
  opacity: 80px;
  position: center;
  transition: all 0.5s ease;
  background-color: #b6b6b6;
}

.navbar-menu li a {
  display: block;
  color: #969696;
  text-align: center;
  padding: 26px 52px;
  text-decoration: none;
}

.navbar-container { 
  position: center;
  text-align: center;
  list-style-type: none;
}

/* Footer Styling */

footer {
  display: grid;
  grid-gap: 5px;
  padding: 10px 10%;
  background-color:  #e9e9e9;
  color: rgb(0, 0, 0);
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}
.footer-brand {
    overflow: hidden;
  }
  
  .footer-brand:before {
    content: "";
    display: block;
    position: relative;
    background: #aa964c;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.1);
  }
  
  .footer-brand .footer-heading {
    position: relative;
    top: 1vmax;
    left: 1vmax;
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 5.5em;

  }
  
.footer-section {
  text-align: left;
  padding: 20px;
  width: 100%;
}

.footer-section1 {
  grid-row: 1;
}

.footer-section2 {
  grid-column: 2 / span 2;
}

.footer-section3 {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.footer-section3 > * {
  display: inline;
}

.footer-section3 > a {
  float: right;
  padding: 0 20px;
}

.footer-section3 > p {
  float: left;
}

.footer-section-inner-container {
  margin: 15px 0;
  padding: 25px;
  width: 100%;
  background-color:  #b6b6b6;
  text-align: justify;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.footer-section-inner-container > span {
  margin: 10px 0;
}

/* Movie Section Styling */

.movie-show-container {
  margin-top: 0;
  padding: 0 10%;
}

.movie-show-container > h1 {
  color: #6e5a11;
  text-align: left;
  padding: 0 0 10px 0;
}

.movie-show-container > h3 {
  color: #969696;
  text-align: left;
  padding: 0 0 10px 0;
}

.movie-show-container > h3:after {
  content: "";
  display: block;
  height: 3px;
  width: 7%;
  background: #6e5a11;
  position: relative;
  bottom: -10px;
}

.movies-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px 0;
}

.movie-box {
  position: relative;
  margin: 10px 0;
}

.movie-box img {
  display: block;
  height: 100%;
  width: 100%;
}

.movie-box .movie-info {
  padding: 50% 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(0, 0, 0);
}

.movie-box:hover .movie-info {
  opacity: 0.8;
}

.movie-info > h3 {
  padding: 10px 0;
  color: #fff;
}

.movie-info > a {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.13em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.movie-info > a:hover {
  color: #000000;
  background-color: #ffffff;
}

/* Trailers Section */

.trailers-section > h1,
.trailers-section > h3 {
  padding: 0 10%;
}

.trailers-section > h1 {
  text-align: left;
  color: #6e5a11;
}

.trailers-section > h3 {
  text-align: left;
  color: #969696;
}

.trailers-section > h3:after {
  content: "";
  display: block;
  height: 3px;
  width: 7%;
  background: #6e5a11;
  position: relative;
  bottom: -10px;
}

.trailers-grid {
  margin: 60px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 80vh;
}

.trailers-grid-item {
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  vertical-align: middle;
}

.trailer-item-video {
  width: 100%;
  height: 100%;
}

.trailers-grid-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.trailer-item-info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
  vertical-align: middle;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(0, 0, 0);
  padding: 85px 0;
}

.trailer-item-info:hover {
  opacity: 0.8;
}

.trailer-item-info h3 {
  vertical-align: middle;
  color: rgb(255, 255, 255);
}

.trailer-item-info i {
  margin: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease;
}

.trailer-item-info i:hover {
}

/* Booking Panel */

.booking-panel {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 3fr;
  background-color: rgb(236, 236, 236);
  padding: 40px;
  box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 0px 23px 3px rgba(0, 0, 0, 0.45);
  transition: all 0.7s ease;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.booking-panel-section1 {
}

.booking-panel-section2 {
}

.booking-panel-section2 > i {
  background-color: #b6b6b6;
  color: #fff;
  padding: 15px;
  float: right;
  cursor: pointer;
  transition: all 0.5s ease;
}

.booking-panel-section2 > i:hover {
  color: rgb(139, 139, 139);
}

.booking-panel-section3 > .movie-box {
  border-radius: 10px;
  overflow: hidden;
}

.booking-panel-section3 img {
  max-width: 100%;
}

.booking-panel-section3 > .movie-box {
  margin: 0;
}

.booking-panel-section4 {
  border-radius: 10px;
  border: 1px #f5f5f5 solid;
  background-color: #fff;
}

.booking-panel-section4 > .title {
  border-bottom: #969696 1px solid;
  color: #6e5a11;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  font-size: 24pt;
  padding: 35px 35px 20px 35px;
  font-weight: bold;
}

.movie-information > table {
  padding: 0 35px 0 35px;
}

.movie-information td {
  padding: 8px 25px 8px 0;
  text-align: left;
  color: #969696;
}

.movie-information table tr td:first-child {
  color: #585858;
  font-weight: bold;
}

.booking-form-container {
  background-color:  #ccc;
  width: 100%;
  padding: 25px;
  margin: 20px 0;
}

.booking-form-container form {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.booking-form-container form button {
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  float: right;
  width: 25%;
  text-align: center;
  background-color:  rgb(255, 0, 0);
  color: #fff;
  transition: all 0.7s ease;
  cursor: pointer;
  height: 42px;
}

.booking-form-container form button:hover {
  background-color: #b6b6b6;
}

.booking-form-container form select {
  padding: 10px;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  background: #fff url("#") no-repeat calc(100% - 10px) 50%;
  /* custom arrow set as a background */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE1cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgMTUgOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTUgOCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+ICA8cGF0aCBmaWxsPSIjODk4OTg5IMKgIiBkPSJNMS4wMywwLjE3NWMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMGMtMC4yMzUsMC4yMzItMC4yMzYsMC42MSwwLDAuODQybDYuODk3LDYuODA5ICAgIGMwLjIzNiwwLjIzMywwLjYxOCwwLjIzMywwLjg1NCwwbDYuODk3LTYuODA5YzAuMjM2LTAuMjMzLDAuMjM2LTAuNjEsMC0wLjg0MmMtMC4yMzYtMC4yMzMtMC42MTgtMC4yMzMtMC44NTQsMEw3LjUsNi4zODQgICAgTDEuMDMsMC4xNzV6Ii8+ICA8L3N2Zz4=);
  box-sizing: border-box;
  border: solid 2px #cbcbcb;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #606060;
  text-indent: 0.01px;
  text-overflow: "";
  width: 23%;
  height: 42px;
  margin: 5px 0;
}

.booking-form-container form input {
  border-radius: 4px;
  border: 1px solid #6e6e6e;
  padding: 10px;
  width: 31%;
  height: 42px;
  margin: 5px 0;
}

/* Schedule Styling */

.schedule-section {
  width: 80%;
  margin: 0 auto;
}

.schedule-section > h1 {
  padding: 0 0 20px 0;
  margin: 0 0 40px 0;
  border-bottom: 1px solid #bdbdbd;
  color: #6e5a11;
}

.schedule-dates {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.schedule-item {
  padding: 15px;
  background-color: #6e5a11;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.schedule-item:hover {
  background-color: #b6b6b6;
  color: #6e5a11;
}

.schedule-item-selected {
  color: #6e5a11;
  background-color: #b6b6b6;
  cursor: auto;
}

.schedule-table table {
  text-align: left;
  border-collapse: collapse;
}

.schedule-table table tr th {
  padding: 10px 0 10px 40px;
  background-color: #6e5a11;
  border: 1px solid #b6b6b6;
  color: #fff;
}

.schedule-table table tr th:first-child {
  width: 35%;
  border-right: 1px solid #bdbdbd;
}

.schedule-table table tr td {
  padding: 40px;
  border: 1px solid #bdbdbd;
}

.schedule-table table tr td > h2 {
  margin: 0 0 15px 0px;
}

.schedule-table table tr td > h3 {
  margin: 15px 0px;
}

.schedule-table table tr td > p {
  margin: 0 0 15px 0px;
}

.schedule-table table tr td > i {
  margin: 0 10px;
}

.schedule-table table tr td > .schedule-item {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.hall-type > h3 {
  margin: 15px 0;
}

.hall-type > div {
  display: flex;
  justify-content: left;
}

.hall-type > div .schedule-item {
  cursor: auto;
}

/* Contact Us Styling */

#gmap_canvas {
  width: 100%;
  height: 400px;
}

.contact-us-container {
  display: grid;
  grid-gap: 25px;
  grid-template-areas: "contact-form contact-form contact-info";
  margin: 30px 15%;
}

.contact-us-section {
  overflow: hidden;
}

.contact-us-section h1 {
  padding: 20px 0;
  border-bottom: #4e4e4e solid 1px;
  margin-bottom: 20px;
}

.contact-us-section1 {
  grid-area: contact-form;
}

.contact-us-section1 form * {
  padding: 10px;
  margin: 10px 0;
}

.contact-us-section1 form *:not(button) {
  border: #6e5a11 1px solid;
}

.contact-us-section1 form button {
  background-color: #6e5a11;
  color: #b6b6b6;
  border: none;
  cursor: pointer;
}

.contact-us-section2 {
  grid-area: contact-info;
}

.contact-us-section2 h3 {
  color: #4e4e4e;
  border-bottom: #6e5a11 solid 1px;
  padding: 10px 0;
  margin-bottom: 10px;
}

/* Classes for JS */

.hidden-div {
  display: none;
  transition: all 0.7s ease;
}

.show {
  display: block;
  transition: all 0.7s ease;
}
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 14px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: right;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

.button1 {
  background-color: #009af3; 
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 160px;
  font-size: 16px;
  margin-left: 750px;
  cursor: pointer;

}

.button2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button3 {
  background-color: #009af3; 
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 160px;
  font-size: 16px;
  margin-left: px;
  cursor: pointer;
}

.button4:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#logoh {
  display: inline-block;
  margin: 15px; 
  float: left;
  height: 90px;
  width: auto;  
}
#logof {
  display: inline-block;
  margin: 15px; 
  float: left;
  height: 90px;
  width: auto;  
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;

  color: rgb(0, 0, 0);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.coupon {
  border: 5px dotted #bbb; /* Dotted border */
  width: 80%;
  border-radius: 15px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  max-width: 600px;
}

.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}